

*{

    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
    background-color: #EDEDED;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #25476A;
}
a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #fff;
}

p {
    font-family: Roboto;
    padding-top: 0px;
    letter-spacing: 0em;
    color: #3B5F94;
}

/*-----------------------------------TIPOGRAFIAS-----------------------------------*/
.titulo{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #183654;
}

.titulo-2{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #183654;
}

.subtitulo{
    font-size: 10px;
    font-weight: 400;
    color: #727272;
}

.subtitulo-2{
    font-size: 12px;
    font-weight: 200;
    color: #032659;
}

.btn-azul{
    padding: 2px 12px;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    background: #3B5F94;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}
.btn-azul:hover{
    background-color: #3d3d3d;
    color: #fff;
}

.btn-dark{
    border-radius: 0.375rem;
    color: #fff;
    background: #3B5F94;
    border: none;
}
.btn-dark:hover{
    background-color: #hhh;
}

.btn-light{
    border-radius: 0.375rem;
    color: #fff;
    background: #bcbcbc;
    border: none;
}
.btn-light:hover{
    background-color: #3B5F94;
}

.btn-trans {
    background-color: transparent;
    color: #fff;
    border-radius: 0.375rem;
    border: solid 2px #fff;
    padding: 10px 16px;
    width: 70px;
    margin: 7px;
}
.btn-trans:hover {
    background-color: #ffffff1a;
    color: #ddd;
}

/*--------------------------------SIDEBAR IZQUIERDA---------------------------------*/

 #navbar-side:hover{
    width: 280px;
    transition: all 0.5s ease;
 }

 .logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin-left: 22px;
    margin-bottom: 15px;
    min-width: 258px;
 }

 .logo span{
    margin-left: 25px;
    text-decoration: none;
 }
 .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    min-width: 45px;
 }

 .icon-sidebar{
    position: relative;
    color: #fff;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
 }
 .icon-sidebar:hover{
    background: #eee;

 }

 .logo-unitec{
    margin: auto;
 }

 .logo-sidebar{
    display: flex;
    flex-direction: row;
    margin: 21px 3px 36px 7px;
 }
 #navbar-side .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: #BCBCBC;
 }

 .nav-item{
    position: relative;
    color: #3B5F94;
    top: 12px;
    margin-left: 10px;
 }

 .logo-text{
    width: 65%;
 }

 nav ul{
    padding-left: 0 !important;
 }


 /*-------------------------------------------------------------MAIN.HTML---------------------------------------------------------------*/


/*-----------------------------------SIDEBAR DERECHA---------------------------------*/



/*---------------------------------------Historias---------------------------------------*/



/*--------------------------------------Publicacion-------------------------------------*/
.publicacion {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 5% 0 5% 0;
}

.post-header{
    margin-top: 20px;
}
.post-img{
    background-color: #e1e1e1;
    border-radius: 20px;
    margin: 22px 0;
    text-align: center;
}
.post-comments{
    display: flex;
    align-items: baseline;
}
.like{
    margin: 8px;
}
.post-header h1{
    margin-top: 5px;
    margin-left: 5px;

}
.post-header p{
    font-size: 18px;
    margin-left: 10px;

}
.post-header article{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post-profile{
    border-radius: 50%;
    width: 75px;
    margin: auto;
}

.subir-img{
    margin: 10px 0;

}

.post-descripcion {
    margin: 26px 0;
}

.upload-txt{

}

.upload-container {
    margin: 20px 0 40px;
}

/*-----------------------------------------------FEED---------------------------------------------------*/
#columnacentral{
    height: 100vh;

    margin-left: 11%;

    background-color: #EDEDED;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

}
#feed{
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
    margin: auto;
}



#myModal{
    background-color: rgba(188, 188, 188, 0.85);
    padding: 6%;
	position: absolute;
	background-color: rgba(176,176,176,1.00);
	opacity: .95;

}


/* MODAL LOG OUT */
#ventanaSalir{
    background-color: rgba(188, 188, 188, 0.85);
    display: none;
    align-items: center;
    justify-content: center;
}

.contenidoSalir{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    height: 15vh;
    border-radius: 15px;
    border-style: none;

}
.botonSi{
    color: black;
    margin: 20px;

}
.botonSi:hover{
    color: #3B5F94;
}
.botonNo{
    color: black;
}
.botonNo:hover{
    color: #3B5F94;
}

.opcionesSalir{
	text-align: center;
	padding-top: 10px;
}
/*---------------------------scrollbar---------------------------*/

 ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 34px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;
    border-style: none;
    border-width: thin;
    border-color: #707070;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/*---------------------------Barra de Busqueda--------------------------*/

#taskInput{
    border-radius: 18px;
    padding: 9px 8px 4px 38px;
    color: #727272;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    margin: 30px 0 10px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}
/*-----------------------------------------------MOBILE----------------------------------------------------------*/

@media (max-width: 766px){
    #navbar-side{
    background-color: #fff;
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}
    #navbar-side:hover{
    background-color: #fff;
    position: absolute;
    z-index: 11;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    }
    #navbar-side ul{
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    }
    #navbar-side li{
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 90px;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    }

     .logo-unitec{
   visibility: hidden;
 }
  .botones{
  font-size: 10px;
 }

	#hero{
	font-size: 15px;


}
	#columnacentralseguidores .tab{
	margin-top: 40px;
		display: flex;
	padding: 1% 21%;

}

}





@media (min-width: 766px){
     #navbar-side{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px;
    border-right: solid 0px #BCBCBC;
    border-bottom: solid 0px #BCBCBC;
    z-index: 10;
 }
  .log-out{
    position: absolute;
    bottom: 20px;
 }

  .logo-unitec{
    margin: auto;
 }
	#hero{
	font-size: 20px;

}



}
/*-----------------------------------------------Inicio/Registro----------------------------------------------------------*/
:root{
 --f7-theme-color:#3B5F94;
 --f7-navbar-bg-color:#3B5F94;/*navbar*/
 --f7-navbar-link-color:#fff;
 --f7-navbar-text-color:#fff;
 --f7-bars-bg-color:#3B5F94;/*toolbar*/
 --f7-block-margin-vertical:20px;
 --f7-card-footer-border-color:transparent;
}


.login-screen-content{
	background: #C2C7C6;
}
#form-login{
	color: #C2C7C6;
	padding: 0px 30px;

}
#form-registro{
	color: #C2C7C6;
	padding: 0px 30px;

}
.button{
	border-radius: 40px;
}

#btnolvidar{
	font-size: 10px;
}

.title{

 	text-align: var(--f7-login-screen-title-text-align);
	font-size: var(--f7-login-screen-title-font-size);
    font-weight: var(--f7-login-screen-title-font-weight);
    color: var(--f7-login-screen-title-text-color);
    letter-spacing: var(--f7-login-screen-title-letter-spacing);
}


#modal-login .page{
	background-image: url("../images/painting study.png");
	background-size: 1920px;
	padding: 15px;
}
#modal-login .page-content{
	border-radius: 40px;

}
#modal-registro .page{
	background-image: url("../images/painting study.png");
	background-size:1920px;
	padding: 15px;
}
#modal-registro .page-content{
	border-radius: 40px;
	margin-top: auto;
	margin-bottom: auto;
	height: auto;
	max-height: 100%;
	width: 100%;

}
a:hover {
	color:#ffc107;
}
#btnRegistro{
	background:#F5F5F5;
	color: #3B5F94;
}

/*-----------------------------------------------PERFIL.HTML----------------------------------------------------------*/
#hero{
	color: #FFFFFF;
	padding: 30px;
	background-image: url("../images/concept.png");
	background-size:cover;
	background-position: center;
	border-radius: 25px 25px 0px 0px;
	filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.25));
	margin-right: 4%;
	margin-top: 20px;
}


.colum{
	text-align: center;
	margin: 0px 20px 20px;
}
.info-perfil{
    color: #fff;
    font-size: 16px;
}
/*--------------------Perfil/galeria------------------------*/


#Galeria {
	padding-top: 2%;
	background: #FFFFFF;
	margin-right: 4%;
}

#Galeria .Cont {
	padding: 10px;
}

#Galeria .Cont img{
	margin-bottom: 20px;
	border-radius: 20px;
}


/*--------------------Perfil/Editar perfil------------------------*/

.header-edit{
    padding: 20px 0px;
}

.editar-info {
    padding: 20px 0;
}


/*-----------------------------------------------Seguidores----------------------------------------------------------*/
#columnacentralseguidores{
    height: 100vh;
    width: 88%;
    margin-left: 11%;
    margin-right: 50%;
    background-color: #EDEDED;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

}
#menudebusqueda{
	border-radius: 18px;
    padding: 5px 5px 5px 5px;
    color: #727272;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
	margin: 30px 0 10px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
}

.Personasseguidores{
	text-align: center;
	background-color: white;
	font-size: 20px;
	color: #3b5f94;
}
.imgseguidores{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}


.color-perfil{
	color: #fff;
}
#tituloNuevaPub h1{
	font-family: Roboto;
	left: 490px;
	padding-top: 100px;
	font-weight: bold;
}


/* Container Fondo */


.fondo-container{
	background-color:#fff;
	border-radius: 15px;
	margin: auto;
	position: absolute;
	width: 88vw;
	padding: 35px 0;
	text-align: center;

}
.xCerrar{
	position: absolute;
	top: 20px;
	right: 20px;
	color: #727272;
	font-size: 30px;

}



.imgPublicar1{
	width: 350px;
	height: 200px;
	position: relative;
	left: 100px;
	box-sizing: border-box;
    border: none;
	border-radius: 15px;
}


.imgPublicar2{
	width: 350px;
	height: 200px;
	position: relative;
	left: 110px;
	border-radius: 15px;
}


.seleccionarArchivo {
	color: #727272;
	top:-19px;
	box-sizing: border-box;
    border: none;
	font-size: 50px;
	background-color: #BCBCBC;
	padding-top: 75px;
	padding-bottom: 75px;
	border-radius: 15px;
}


.Des{

	color: #727272;
	left: 100px;
	width: 580px;
	box-sizing: border-box;
    border: none;
	font-size: 16px;
	border-radius: 6px;
	box-shadow: 1px 1px #727272;
}



.emotes{

	left: 100px;
	padding-top: 10px;

}



.btn-blue{
	padding: 2px 12px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    background: #3B5F94;
    box-sizing: border-box;
    border: none;
	top: 20px;
	left: 100px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;


}

.btn-red{

	padding: 2px 12px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    background: red;
    box-sizing: border-box;
    border: none;
	top: 20px;
	left: 100px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;

}




/----HISTORIAS----/
body{
	background: #EDEDED;
}
img{
	cursor: pointer;
}
.story-container ul{
	list-style-type: none;
	user-select: none;
	display: flex;
	overflow-y: auto;
	padding: 20px 0;
}
.story-container ul li{
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.story-container ul li:first-child{
	padding-left: 20px;
}
.story-container ul li:last-child{
	padding-right: 20px;
}
.story-container ul li .story{
	width: 128px;
	height: 178px;
	border-radius: 47%;
	padding: 1px;
	position: relative;
}
.story-container ul li .story img{
	object-fit: cover;
	border-radius: 20%/15%;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}
/*-----------------------POP-UP-REACCIONES-------------------------*/
.container-reacciones {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.emoji{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #FCFCFC;
	border-radius: 100px;
	margin-bottom: 10px;
	cursor: pointer;
	transform: translateY(10px);
	transition: all 0.4s;
	position: relative;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}
.emoji img{
	padding: 3px;
	display: block;
	width: 41px;
	height: 41px;
	transition: all 0.4s;

}
.emoji img:hover{
	transform: translateY(-10%) scale(1.2);
	filter: drop-shadow(0 1px 5px grey);
}
.content:hover .emoji{
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
	z-index: 1;
display: flex;
}

.agregarArchivo{
	margin: 23px;
}

#Personasseguidores{
	align-content: center;
}
#Seguidorescolumna{
	padding-top: 30px;
	align-content: center;
}

#columnacentralseguidores .seguidores-contenedor{
	background-color: #BCBABA;
	margin-top: 20px;
	padding: 10px;
	border-radius: 25px;
	border: #000000 medium;

}

#columnacentralseguidores .tab{
	background-color: #666565;
	margin-left: 10px;
	padding: 1% 21%;
	border-radius: 20px 20px;
}


#columnacentralseguidores .btn-red{
	background-color: #3B5F94;
	border-radius: 0.375rem;
	border:none;
	color: white;


}
#Seguidores-2{
	margin-top: 40px;
}
.nada{
	color:#BCBABA;
}

/*post*/
#post1{
    background-color: white;
    padding: 15px;
    margin: 2%;

}
.postcomments{
    margin-top: 2%;
}

h6{
    color: black;
    font-size: 15px;
}

.sidename{
    margin: 0.5%;
    color: black;
    font-weight: bolder;
    font-size: 15px;

}

.sidenames{
    margin: 1%;
    font-size: 15px;
    color: black;
    background-color: #EDEDED;
    border-radius: 50px;
padding-left: 6px;
padding-right: 6px;
padding-top: 3px;
padding-bottom: 3px;
}

.despost{
    font-size: 13px;
    padding: 5%;
    margin: 15px;
}

.commentspost{
    font-size: 15px;
    color: black;
}

.space{
    margin-top: 10px;
}

.img-fluid-perfil{
    border-radius: 100px;
    height: 50px;
    width: 50px;
}
.img-fluid-perfil2{
    border-radius: 100px;
    height: 30px;
    width: 30px;
}



.img-responsive-post{
    width: 500p;
    border-radius: 3%;

}

#MINPUT{
    background-color: rgba(214, 214, 214, 75%);
    color: #000000;
    font-size: 15px;
    margin: 0px 10px;
    width: 97%;
    border-radius: 20px;
    border: none;
    padding: 0.5% 1%;
    justify-content: flex-end;
    margin-top: 40%;
}





/*----------------------------------modal----------------------------*/
.modal-open {
  overflow: hidden; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }


.m-container {
    position: relative;
    background-color: #b3bdd5;
    width: 80vw;
    max-width: 800px;
    height: 80vh;
    max-height: 1000px;
    margin: auto;
    margin-top: 6%;
    border-radius: 25px;
    z-index: 11;
    overflow: auto;
}
.m-content {
    margin: 28px;
    width: 90%;
    background-color: transparent;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;

}

.close{
  padding: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    border: none;
    color: #643a3a;
    background-color: transparent;
}

  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px); }
    @media (prefers-reduced-motion: reduce) {
      .modal.fade .modal-dialog {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  .modal.show .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }

.modal-backdrop {
        z-index: 12;
    }

/* Flickity */

#historias{
    background-color: #B8E7F6;
    margin: 30px;
}

.pfoto{
    border-radius: 60%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

.pfoto img{
    width: 100%;
    height: 20px;
    top: -25px;
    position: absolute;
    object-fit: cover;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 15%;
  height: 200px;
  margin-right: 5px;
  background: #8C8;
  border-radius: 5px;
    overflow: hidden;
}
.carousel-cell img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/*boton subir hisotrias */
.frmImageUpload {
background-color: #F9D735;
width:400px;
padding:10px;
}
.frmImageUpload label{
font-weight: bold;
color: #A0A0A0;
}
.btnSubmit {
background-color: #3FA849;
padding:4px;
border: #3FA849 1px solid;
color: #FFFFFF;
}
.inputFile {
padding: 3px;
background-color: #FFFFFF;
}
/* cell number */

@media only screen and (max-width: 991px){
    .carousel-cell{
        width: 50%;
    }
}

/* cell number */
